<?xml version="1.0" encoding="UTF-8"?>
<config>
    <frontend>
        <layout>
            <updates>
                <cpayment>
                    <file>cpayment.xml</file>
                </cpayment>
            </updates>
        </layout>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <cpayment>
                        <class>Credix_Cpayment_Model_Observer</class>
                        <method>credixCheckout</method>
                    </cpayment>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
    </frontend>   
    <modules>
        <Credix_Cpayment>
            <version>0.1.0</version>
        </Credix_Cpayment>
    </modules>
    <global>
        <models>
            <cpayment>
                <class>Credix_Cpayment_Model</class>
            </cpayment>
        </models> 
        <blocks>
            <cpayment>
                <class>Credix_Cpayment_Block_Payment</class>
            </cpayment>
        </blocks>      
        <resources>
            <cpayment_setup>
                <setup>
                    <module>Credix_Cpayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cpayment_setup>
            <cpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cpayment_write>
            <cpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cpayment_read>
        </resources>
         <payment>
            <cc>
                <types>
                    <CR>
                        <code>CR</code>
                        <name>Credix</name>
                        <order>60</order>
                    </CR>
                </types>
            </cc>
        </payment>
    </global>
    <default>
        <payment>
            <cpayment>
                <active>1</active>
                <model>cpayment/paymentLogic</model>
                <order_status>pending</order_status>
                <title>Credix Card (Credix World S.A)</title>
                <api_key>vpinnomueblesweb_ws</api_key>
                <api_secret>Sk6U4xqL</api_secret>
                <cctypes>CR</cctypes>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
            </cpayment>
        </payment>
    </default>
</config>
