<?xml version="1.0" ?>
<config>
    <default>

        <captcha>
            <frontend>
                <areas>
                    <human_confirm>
                        <label>Bot Protection: human confirm form</label>
                    </human_confirm>
                </areas>
            </frontend>
        </captcha>

        <customer>
            <captcha>
                <always_for>
                    <human_confirm>1</human_confirm>
                </always_for>
            </captcha>
        </customer>

        <tm_botprotection>
            <general>
                <enabled>0</enabled>
            </general>
            <response>
                <blacklisted>access-denied</blacklisted>
                <confirm_human>are-you-human</confirm_human>
                <redirect>0</redirect>
            </response>
            <detect>
                <enabled>1</enabled>
                <action>2</action>
                <seconds>60</seconds>
                <clicks_max>50</clicks_max>
            </detect>
        </tm_botprotection>

    </default>

    <modules>
        <TM_BotProtection>
            <version>1.0.3</version>
        </TM_BotProtection>
    </modules>
    <global>
        <resources>
            <tm_botprotection_setup>
                <setup>
                    <module>TM_BotProtection</module>
                </setup>
            </tm_botprotection_setup>
        </resources>
        <helpers>
            <tm_botprotection>
                <class>TM_BotProtection_Helper</class>
            </tm_botprotection>
        </helpers>
        <blocks>
            <tm_botprotection>
                <class>TM_BotProtection_Block</class>
            </tm_botprotection>
        </blocks>
        <models>
            <tm_botprotection>
                <class>TM_BotProtection_Model</class>
                <resourceModel>tm_botprotection_resource</resourceModel>
            </tm_botprotection>
            <tm_botprotection_resource>
                <class>TM_BotProtection_Model_Resource</class>
                <entities>
                    <blacklist>
                        <table>tm_bots_blacklist</table>
                    </blacklist>
                    <whitelist>
                        <table>tm_bots_whitelist</table>
                    </whitelist>
                    <pending>
                        <table>tm_bots_pending</table>
                    </pending>
                </entities>
            </tm_botprotection_resource>
            <log_resource>
                <rewrite>
                    <visitor>TM_BotProtection_Model_Resource_Visitor</visitor>
                </rewrite>
            </log_resource>
        </models>
        <events>
            <controller_action_predispatch>
                <observers>
                    <tm_botprotection_action_predispatch_observer>
                        <class>tm_botprotection/observer</class>
                        <method>checkVisitor</method>
                    </tm_botprotection_action_predispatch_observer>
                </observers>
            </controller_action_predispatch>
            <http_response_send_before>
                <observers>
                    <tm_botprotection_response_send_before>
                        <class>tm_botprotection/observer</class>
                        <method>updateHtmlBeforeOutput</method>
                    </tm_botprotection_response_send_before>
                </observers>
            </http_response_send_before>
        </events>
        <!-- for enginx -->
        <remote_addr_headers>
            <header_botprotection_http_x_real_ip>HTTP_X_REAL_IP</header_botprotection_http_x_real_ip>
            <header_botprotection_http_x_forewarded_for>HTTP_X_FORWARDED_FOR</header_botprotection_http_x_forewarded_for>
        </remote_addr_headers>
    </global>
    <admin>
        <routers>
             <adminhtml>
                 <args>
                     <modules>
                         <tm_botprotection before="Mage_Adminhtml">TM_BotProtection_Adminhtml</tm_botprotection>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tm_botprotection>
                    <file>tm/botprotection.xml</file>
                </tm_botprotection>
            </updates>
        </layout>
        <translate>
            <modules>
                <tm_botprotection>
                    <files>
                        <default>TM_BotProtection.csv</default>
                    </files>
                </tm_botprotection>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <tm_botprotection module="TM_BotProtection">
                    <file>tm/botprotection.xml</file>
                </tm_botprotection>
            </updates>
        </layout>
        <translate>
            <modules>
                <tm_botprotection>
                    <files>
                        <default>TM_BotProtection.csv</default>
                    </files>
                </tm_botprotection>
            </modules>
        </translate>
        <routers>
            <tm_botprotection>
                <use>standard</use>
                <args>
                    <module>TM_BotProtection</module>
                    <frontName>botprotection</frontName>
                </args>
            </tm_botprotection>
        </routers>
    </frontend>
</config>