<?xml version="1.0"?> 
<config>
    <modules>
        <MST_Storepickup>
            <version>2.1.5</version>
        </MST_Storepickup>
    </modules>
    <frontend>
        <routers>
            <storepickup>
                <use>standard</use>
                <args>
                    <module>MST_Storepickup</module>
                    <frontName>storepickup</frontName>
                </args>
            </storepickup>
        </routers>
        <layout>
            <updates>
                <storepickup>
                    <file>storepickup.xml</file>
                </storepickup>
            </updates>
        </layout>
		<translate>
            <modules>
                <MST_Storepickup>
                    <files>
                        <default>MST_Storepickup.csv</default>
                    </files>
                </MST_Storepickup>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <storepickup>
                <use>admin</use>
                <args>
                    <module>MST_Storepickup</module>
                    <frontName>storepickup</frontName>
                </args>
            </storepickup>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <storepickup module="storepickup">
                <title>Store Pickup</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="storepickup">
                        <title>Manage Store</title>
                        <sort_order>0</sort_order>
                        <action>storepickup/adminhtml_storepickup</action>
                    </items>
                </children>
				<!-- editbyduc : add child menu -->
				<children>
					<setting module="storepickup">
						<title>Settings</title>
						<sort_order>4</sort_order>
						<action>adminhtml/system_config/edit/section/storepickup</action>
					</setting>
				</children>
                
            </storepickup>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <MST_Storepickup>
                            <title>Store locator Module</title>
                            <sort_order>10</sort_order>
                        </MST_Storepickup>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <storepickup>
                    <file>storepickup.xml</file>
                </storepickup>
            </updates>
        </layout>
		<translate>
            <modules>
                <MST_Storepickup>
                    <files>
                        <default>MST_Storepickup.csv</default>
                    </files>
                </MST_Storepickup>
            </modules>
        </translate>
    </adminhtml>
    <global>
     <events><!-- all event descrip in obsever.php -->
 	   	<checkout_controller_onepage_save_shipping_method>
    			<observers>
    				<checkout_controller_onepage_save_shipping_method>
			            <type>model</type>
			            <class>storepickup/observer</class>
			            <method>saveShippingMethod</method>
			        </checkout_controller_onepage_save_shipping_method>
    			</observers>
    		</checkout_controller_onepage_save_shipping_method>
    		<sales_model_service_quote_submit_after>
    			<observers>
    				<checkout_controller_onepage_save_shipping_method>
			            <type>model</type>
			            <class>storepickup/observer</class>
			            <method>saveOrderAfter</method>
			        </checkout_controller_onepage_save_shipping_method>
    			</observers>
    		</sales_model_service_quote_submit_after>
    	</events>
        <models>
         <sales>
   			<rewrite>
    			<order>MST_Storepickup_Model_Sales_Order</order>
    			<order_pdf_invoice>MST_Storepickup_Model_Sales_Order_Pdf_Invoice</order_pdf_invoice>
    			<order_pdf_creditmemo>MST_Storepickup_Model_Sales_Order_Pdf_Creditmemo</order_pdf_creditmemo>
    			<order_pdf_shipment>MST_Storepickup_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
   			</rewrite>
       		</sales>
            <storepickup>
                <class>MST_Storepickup_Model</class>
                <resourceModel>storepickup_mysql4</resourceModel>
            </storepickup>
            <storepickup_mysql4>
                <class>MST_Storepickup_Model_Mysql4</class>
                <entities>
                    <storepickup>
                        <table>storepickup</table>
                    </storepickup>
					<image>
                        <table>storepickup_image</table>
                    </image>
					<cats>
                        <table>storepickup_cats</table>
                    </cats>
                     <messages>
                        <table>storepickup_messages</table>
                    </messages>
                      <pickuporder>
                        <table>storepickup_orders</table>
                    </pickuporder>
					<license>
                        <table>mst_license</table>
                    </license>
					
                </entities>
            </storepickup_mysql4>
        </models>
		<template>
            <email>
                <sales_email_order_template translate="label" module="storepickup">
                    <label>New Order (Use for Storepickup extension)</label>
                    <file>sales/order_new_storepickup.html</file>
                    <type>html</type>
                </sales_email_order_template>
			</email>
		</template>
        <resources>
            <storepickup_setup>
                <setup>
                    <module>MST_Storepickup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storepickup_setup>
            <storepickup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storepickup_write>
            <storepickup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storepickup_read>
        </resources>
        <blocks>
            <storepickup>
                <class>MST_Storepickup_Block</class>
            </storepickup>
			<checkout>
				<rewrite>
					<onepage_progress>MST_Storepickup_Block_Checkout_Onepage_Progress</onepage_progress>
				</rewrite>
			</checkout>
        </blocks>
        <helpers>
            <storepickup>
                <class>MST_Storepickup_Helper</class>
            </storepickup>
        </helpers>
    </global>
	<default>
        <storepickup>
            <setting>
                <enable>1</enable>
                <jquery>0</jquery>
                <pickup_time>1</pickup_time>
                <header_links>1</header_links>
                
            </setting>
			<manage_search>
                <search_address>1</search_address>
                <search_country>1</search_country>
                <search_state>1</search_state>
                <search_city>1</search_city>
                <search_zipcode>1</search_zipcode>
            </manage_search>
        </storepickup>
        <carriers>
          	<storepickup>
               <active>1</active>
               <model>storepickup/carrier_storepickup</model>
               <title>Shipping Pickup</title>
               <name>Fxied</name>
               <price>0</price>
               <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </storepickup>
         </carriers>
    </default>
</config>